# Jykell configuration
#markdown: redcarpet
#highlighter: pygments
markdown: kramdown
kramdown:
  input: GFM
highlighter: rouge
paginate: 10
language: 'en-uk'

# Website info
name: 'Ladies and gentlemen, welcome to mR.g's blog'
description: "Here is the most sweet nest of program monkey, often come back to have a look!"

# Author's info
author: 'mR.g　耿晓军'
# edit 'categories' in the front matter of every post to match this username
nickname: 一只小猿
bio: '点个赞呗!'
location: 'China beijing'
name: '【简书:搜索(耿晓军)->原文章出处】'
image: 'assets/images/casper.png'

short_url: 'biomadeira.github.io/jasper/'
google_analytics: UA-69281367-1
disqus: username
# edit baseurl to simply '/' if using as your personal page (instead of a project page)
baseurl: ''

# Permalinks
permalink: /:title
# permalink: /author/:username
# permalink: /tag/:tag


# gems and other configs
gems: [jekyll-paginate]
exclude: [vendor]

# Additional settings available on the front-matter
# Site logo in the index.html (as in demo.ghost.io)
# Author's page cover in _layouts/author.html
# The same for page.html and tag.html layouts
# Post's page cover as a per-post basis _posts/...
# Disqus comments as a per-post basis
# ...


# Settings for builing master branch with travis-ci
# with jekyll-travis

# Settings for deploy rake task
# Username and repo of Github repo, e.g.
# https://github.com/USERNAME/REPO.git
# username defaults to ENV['GIT_NAME'] used by Travis
# repo defaults to USERNAME.github.io
# Branch defaults to "source" for USERNAME.github.io
# or "master" otherwise
safe: false
lsi: false
username: biomadeira
repo: jasper
branch: master
relative_source: ../jasper/
destination: ../jasper-pages/
production_url:  https://biomadeira.github.io/jasper/
source_url:      https://github.com/biomadeira/jasper/

exclude:
  - README.md
  - Rakefile
  - Gemfile
  - Gemfile.lock
  - changelog.md
  - "*.Rmd"
  - vendor
  - .travis.yml
